.inside #maincontent{
  display: flex;
  flex-wrap: wrap;
}
.inside #map-container,#restaurant-container,#reviews-container{
  order:10;
}
@media screen and (max-width: 350px) {
header h1{
  font-size: 1em;
}
.inside #map-container {

}
#restaurant-container {

}
#reviews-container {

}
.filter-options h2 {
  color: red;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 8pt;
  height: 20px;
  letter-spacing: 0;
  margin: 5px;
  padding: 0 10px;
  width: 100px;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 10px;
  min-height: 380px;
  padding: 0 20px 15px;
  text-align: left;
  width: 200px;
}
}
@media screen (min-width: 351px) and (max-width: 450px) {
  .filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 20px;
  }
  .filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial,sans-serif;
    font-size: 10pt;
    height: 20px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
  }
}
